<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # ป้องกันการเข้าถึงไฟล์ .env และไฟล์ระบบที่ขึ้นต้นด้วยจุด
    <FilesMatch "^\.">
        Order allow,deny
        Deny from all
    </FilesMatch>

    # ป้องกันการเข้าถึง .env
    <Files .env>
        Order allow,deny
        Deny from all
    </Files>

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # ส่งทุกคำขอไปยังโฟลเดอร์ public/
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
